In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./data/bank/bank-full.csv', 
                 sep=';',
                 dtype={'age': 'int64',
                        'job': 'category',
                        'marital': 'category',
                        'education': 'category',
                        'default': 'category',
                        'balance': 'int64',
                        'housing': 'category',
                        'loan': 'category',
                        'contact': 'category',
                        'day': 'int64',
                        'month': 'category',
                        'duration': 'int64',
                        'campaign': 'int64',
                        'pdays': 'int64',
                        'previous': 'int64',
                        'poutcome': 'category',
                        'y': 'category'})
df.head(20)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no

In [3]:
df.dtypes

age             int64
job          category
marital      category
education    category
default      category
balance         int64
housing      category
loan         category
contact      category
day             int64
month        category
duration        int64
campaign        int64
pdays           int64
previous        int64
poutcome     category
y            category
dtype: object

In [4]:
for column in df.columns:
    print('Variable: ', column, '\n')
    print(df[column].value_counts())
    print('\n')

Variable:  age

32    2085
31    1996
33    1972
34    1930
35    1894
36    1806
30    1757
37    1696
39    1487
38    1466
40    1355
41    1291
42    1242
45    1216
29    1185
46    1175
43    1161
44    1136
47    1088
28    1038
48     997
49     994
50     939
51     936
52     911
27     909
53     891
57     828
54     811
55     806
      ...
67      54
71      54
72      52
20      50
77      44
73      44
69      44
75      39
74      37
68      36
19      35
76      32
80      31
78      30
79      25
83      22
82      19
81      17
18      12
84       9
86       9
85       5
87       4
89       3
88       2
90       2
92       2
93       2
95       2
94       1
Name: age, Length: 77, dtype: int64


Variable:  job

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64


Variable:  marital

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64


Variable:  education

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64


Variable:  default

no     44396
yes      815
Name: default, dtype: int64


Variable:  balance

 0        3514
 1         195
 2         156
 4         139
 3         134
 5         113
 6          88
 8          81
 23         75
 10         69
 7          69
 11         65
 25         63
 20         62
 19         60
 15         59
 47         59
 21         59
 49         59
 33         58
 13         57
 53         56
 16         56
 24         55
 79         55
 91         54
 145        54
 46         54
 9          54
 14         53
          ...
 6205        1
 6320        1
 4394        1
 2327        1
 4404        1
 8460        1
 29312       1
 4362        1
-2049        1
 17332       1
 2633        1
 6571        1
 1338        1
-568         1
 8402        1
 8863        1
 10451       1
 29184       1
 13242       1
 4586        1
 51439       1
 4092        1
-472         1
 8652        1
 4554        1
 4305        1
 6352        1
 18881       1
 14889       1
 7218        1
Name: balance, Length: 7168, dtype: int64


Variable:  housing

yes    25130
no     20081
Name: housing, dtype: int64


Variable:  loan

no     37967
yes     7244
Name: loan, dtype: int64


Variable:  contact

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64


Variable:  day

20    2752
18    2308
21    2026
17    1939
6     1932
5     1910
14    1848
8     1842
28    1830
7     1817
19    1757
29    1745
15    1703
12    1603
13    1585
30    1566
9     1561
11    1479
4     1445
16    1415
2     1293
27    1121
3     1079
26    1035
23     939
22     905
25     840
31     643
10     524
24     447
1      322
Name: day, dtype: int64


Variable:  month

may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64


Variable:  duration

124     188
90      184
89      177
122     175
104     175
114     175
136     174
112     174
139     174
121     173
91      170
119     170
88      170
103     169
92      168
123     168
97      168
111     166
73      166
85      166
113     166
81      166
125     165
82      165
108     165
106     165
80      164
87      163
101     163
126     163
       ...
1255      1
3366      1
1319      1
1298      1
1650      1
2485      1
947       1
2453      1
2389      1
1971      1
1875      1
1491      1
1395      1
1331      1
934       1
1107      1
1158      1
1254      1
1778      1
1286      1
1318      1
1478      1
1606      1
1702      1
2770      1
2150      1
1970      1
1906      1
1842      1
2015      1
Name: duration, Length: 1573, dtype: int64


Variable:  campaign

1     17544
2     12505
3      5521
4      3522
5      1764
6      1291
7       735
8       540
9       327
10      266
11      201
12      155
13      133
14       93
15       84
16       79
17       69
18       51
19       44
20       43
21       35
22       23
23       22
25       22
24       20
28       16
29       16
26       13
31       12
27       10
32        9
30        8
33        6
34        5
36        4
35        4
43        3
38        3
41        2
50        2
37        2
51        1
55        1
46        1
58        1
44        1
39        1
63        1
Name: campaign, dtype: int64


Variable:  pdays

-1      36954
 182      167
 92       147
 183      126
 91       126
 181      117
 370       99
 184       85
 364       77
 95        74
 350       73
 94        72
 175       71
 185       68
 93        65
 343       65
 188       64
 189       60
 186       60
 174       57
 96        57
 349       57
 363       55
 97        54
 90        54
 196       51
 365       51
 368       49
 342       49
 98        49
        ...
 774        1
 550        1
 396        1
 492        1
 466        1
 45         1
 434        1
 18         1
 529        1
 465        1
 401        1
 784        1
 656        1
 592        1
 528        1
 464        1
 432        1
 655        1
 495        1
 543        1
 47         1
 782        1
 686        1
 558        1
 526        1
 749        1
 717        1
 589        1
 493        1
 32         1
Name: pdays, Length: 559, dtype: int64


Variable:  previous

0      36954
1       2772
2       2106
3       1142
4        714
5        459
6        277
7        205
8        129
9         92
10        67
11        65
12        44
13        38
15        20
14        19
17        15
16        13
19        11
23         8
20         8
22         6
18         6
24         5
27         5
29         4
25         4
21         4
30         3
28         2
26         2
37         2
38         2
55         1
40         1
35         1
58         1
51         1
41         1
32         1
275        1
Name: previous, dtype: int64


Variable:  poutcome

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64


Variable:  y

no     39922
yes     5289
Name: y, dtype: int64

In [5]:
# ujemne wartości na zmiennej balance??

sorted(df['balance'].unique())

[-8019,
 -6847,
 -4057,
 -3372,
 -3313,
 -3058,
 -2827,
 -2712,
 -2604,
 -2282,
 -2122,
 -2093,
 -2082,
 -2049,
 -1980,
 -1968,
 -1965,
 -1944,
 -1941,
 -1884,
 -1882,
 -1854,
 -1818,
 -1781,
 -1779,
 -1746,
 -1737,
 -1730,
 -1725,
 -1701,
 -1680,
 -1668,
 -1664,
 -1661,
 -1655,
 -1636,
 -1629,
 -1621,
 -1613,
 -1601,
 -1598,
 -1586,
 -1547,
 -1545,
 -1531,
 -1500,
 -1493,
 -1490,
 -1489,
 -1485,
 -1480,
 -1459,
 -1455,
 -1451,
 -1445,
 -1415,
 -1414,
 -1400,
 -1386,
 -1385,
 -1379,
 -1361,
 -1350,
 -1336,
 -1329,
 -1322,
 -1317,
 -1313,
 -1312,
 -1310,
 -1300,
 -1272,
 -1270,
 -1249,
 -1246,
 -1232,
 -1224,
 -1217,
 -1212,
 -1206,
 -1202,
 -1196,
 -1193,
 -1185,
 -1176,
 -1168,
 -1164,
 -1161,
 -1157,
 -1148,
 -1139,
 -1137,
 -1136,
 -1129,
 -1124,
 -1122,
 -1112,
 -1110,
 -1105,
 -1099,
 -1092,
 -1091,
 -1089,
 -1085,
 -1083,
 -1080,
 -1076,
 -1053,
 -1050,
 -1049,
 -1042,
 -1041,
 -1040,
 -1038,
 -1036,
 -1034,
 -1027,
 -1026,
 -1019,
 -1014,
 -1013,
 -1011,
 -1007,
 -1006,
 -1002,
 -1001,
 -999,
 -998,
 -997,
 -995,
 -994,
 -988,
 -985,
 -983,
 -982,
 -980,
 -978,
 -976,
 -974,
 -972,
 -971,
 -970,
 -969,
 -967,
 -966,
 -962,
 -961,
 -954,
 -948,
 -947,
 -946,
 -942,
 -940,
 -939,
 -938,
 -934,
 -933,
 -932,
 -931,
 -930,
 -923,
 -921,
 -918,
 -910,
 -905,
 -901,
 -898,
 -896,
 -895,
 -892,
 -890,
 -888,
 -887,
 -886,
 -880,
 -879,
 -876,
 -874,
 -872,
 -871,
 -870,
 -869,
 -868,
 -867,
 -865,
 -864,
 -861,
 -859,
 -854,
 -853,
 -852,
 -849,
 -848,
 -847,
 -846,
 -839,
 -838,
 -835,
 -834,
 -832,
 -825,
 -824,
 -820,
 -817,
 -816,
 -813,
 -812,
 -811,
 -810,
 -808,
 -806,
 -805,
 -804,
 -803,
 -800,
 -799,
 -797,
 -796,
 -790,
 -786,
 -782,
 -780,
 -779,
 -777,
 -771,
 -770,
 -769,
 -768,
 -767,
 -762,
 -759,
 -757,
 -755,
 -754,
 -753,
 -752,
 -750,
 -749,
 -747,
 -745,
 -744,
 -742,
 -741,
 -740,
 -738,
 -736,
 -735,
 -732,
 -731,
 -728,
 -725,
 -723,
 -722,
 -720,
 -718,
 -717,
 -715,
 -714,
 -713,
 -711,
 -710,
 -709,
 -708,
 -706,
 -705,
 -704,
 -703,
 -701,
 -700,
 -697,
 -694,
 -692,
 -691,
 -690,
 -689,
 -688,
 -687,
 -686,
 -685,
 -684,
 -683,
 -682,
 -681,
 -680,
 -679,
 -677,
 -676,
 -675,
 -674,
 -673,
 -672,
 -671,
 -670,
 -667,
 -666,
 -665,
 -664,
 -663,
 -661,
 -659,
 -656,
 -651,
 -650,
 -648,
 -646,
 -644,
 -643,
 -642,
 -641,
 -640,
 -639,
 -637,
 -636,
 -635,
 -634,
 -633,
 -632,
 -631,
 -630,
 -628,
 -627,
 -626,
 -625,
 -624,
 -621,
 -619,
 -618,
 -617,
 -616,
 -614,
 -613,
 -612,
 -611,
 -609,
 -608,
 -607,
 -606,
 -605,
 -603,
 -601,
 -600,
 -599,
 -598,
 -597,
 -596,
 -594,
 -593,
 -591,
 -589,
 -588,
 -587,
 -585,
 -584,
 -583,
 -582,
 -581,
 -580,
 -579,
 -578,
 -577,
 -576,
 -575,
 -574,
 -572,
 -571,
 -570,
 -569,
 -568,
 -566,
 -565,
 -564,
 -563,
 -562,
 -560,
 -559,
 -558,
 -557,
 -556,
 -555,
 -554,
 -553,
 -552,
 -551,
 -550,
 -549,
 -548,
 -547,
 -546,
 -545,
 -544,
 -542,
 -541,
 -540,
 -538,
 -537,
 -535,
 -534,
 -533,
 -532,
 -531,
 -530,
 -529,
 -528,
 -527,
 -526,
 -525,
 -524,
 -523,
 -522,
 -521,
 -519,
 -518,
 -517,
 -516,
 -515,
 -513,
 -512,
 -511,
 -510,
 -509,
 -508,
 -507,
 -506,
 -505,
 -504,
 -503,
 -502,
 -501,
 -500,
 -499,
 -498,
 -497,
 -496,
 -495,
 -494,
 -493,
 -492,
 -491,
 -490,
 -489,
 -488,
 -487,
 -485,
 -483,
 -482,
 -481,
 -480,
 -479,
 -478,
 -477,
 -476,
 -475,
 -474,
 -473,
 -472,
 -471,
 -470,
 -469,
 -468,
 -467,
 -466,
 -465,
 -464,
 -463,
 -462,
 -461,
 -460,
 -459,
 -458,
 -457,
 -456,
 -455,
 -454,
 -453,
 -452,
 -451,
 -450,
 -449,
 -448,
 -447,
 -446,
 -444,
 -443,
 -442,
 -441,
 -440,
 -439,
 -438,
 -437,
 -436,
 -435,
 -433,
 -432,
 -431,
 -430,
 -429,
 -428,
 -427,
 -426,
 -424,
 -423,
 -422,
 -421,
 -420,
 -418,
 -417,
 -416,
 -415,
 -414,
 -413,
 -412,
 -411,
 -410,
 -409,
 -408,
 -407,
 -406,
 -405,
 -404,
 -403,
 -402,
 -401,
 -400,
 -399,
 -398,
 -397,
 -396,
 -395,
 -394,
 -393,
 -392,
 -391,
 -390,
 -389,
 -388,
 -386,
 -385,
 -384,
 -383,
 -382,
 -381,
 -380,
 -379,
 -378,
 -376,
 -375,
 -374,
 -372,
 -371,
 -370,
 -369,
 -368,
 -367,
 -366,
 -365,
 -364,
 -363,
 -362,
 -361,
 -360,
 -359,
 -358,
 -357,
 -356,
 -355,
 -354,
 -353,
 -352,
 -350,
 -349,
 -348,
 -347,
 -346,
 -345,
 -344,
 -343,
 -342,
 -341,
 -340,
 -339,
 -338,
 -337,
 -336,
 -335,
 -334,
 -333,
 -332,
 -331,
 -330,
 -329,
 -328,
 -327,
 -326,
 -325,
 -324,
 -323,
 -322,
 -321,
 -320,
 -319,
 -318,
 -317,
 -315,
 -314,
 -313,
 -312,
 -311,
 -310,
 -309,
 -308,
 -307,
 -306,
 -305,
 -304,
 -303,
 -302,
 -301,
 -300,
 -299,
 -298,
 -297,
 -296,
 -295,
 -294,
 -293,
 -292,
 -291,
 -290,
 -289,
 -288,
 -287,
 -286,
 -285,
 -284,
 -283,
 -282,
 -281,
 -280,
 -279,
 -278,
 -277,
 -276,
 -275,
 -274,
 -273,
 -272,
 -271,
 -269,
 -268,
 -267,
 -266,
 -265,
 -264,
 -263,
 -262,
 -261,
 -260,
 -259,
 -258,
 -257,
 -256,
 -255,
 -254,
 -253,
 -252,
 -251,
 -250,
 -249,
 -248,
 -247,
 -246,
 -245,
 -244,
 -243,
 -242,
 -241,
 -240,
 -239,
 -238,
 -237,
 -236,
 -235,
 -234,
 -233,
 -232,
 -231,
 -230,
 -229,
 -228,
 -227,
 -226,
 -225,
 -224,
 -223,
 -222,
 -221,
 -220,
 -219,
 -218,
 -217,
 -216,
 -215,
 -214,
 -213,
 -212,
 -211,
 -210,
 -209,
 -208,
 -207,
 -206,
 -205,
 -204,
 -203,
 -202,
 -201,
 -200,
 -199,
 -198,
 -197,
 -196,
 -195,
 -194,
 -193,
 -192,
 -191,
 -190,
 -189,
 -188,
 -187,
 -186,
 -185,
 -184,
 -183,
 -182,
 -181,
 -180,
 -179,
 -178,
 -177,
 -176,
 -175,
 -174,
 -173,
 -172,
 -171,
 -170,
 -169,
 -168,
 -167,
 -166,
 -165,
 -164,
 -163,
 -162,
 -161,
 -160,
 -159,
 -158,
 -157,
 -156,
 -155,
 -154,
 -153,
 -152,
 -151,
 -150,
 -149,
 -148,
 -147,
 -146,
 -145,
 -144,
 -143,
 -142,
 -141,
 -140,
 -139,
 -138,
 -137,
 -136,
 -135,
 -134,
 -133,
 -132,
 -131,
 -130,
 -129,
 -128,
 -127,
 -126,
 -125,
 -124,
 -123,
 -122,
 -121,
 -120,
 -119,
 -118,
 -117,
 -116,
 -115,
 -114,
 -113,
 -112,
 -111,
 -110,
 -109,
 -108,
 -107,
 -106,
 -105,
 -104,
 -103,
 -102,
 -101,
 -100,
 -99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 ...]

Szybkie wnioski:
1. Zbiór jest zróżnicowany, można spróbować go wykorzystać.
1. Zbiór ma wiele braków danych, określanych jako Unknown, -1.
1. Zbiór ma kilka zmiennych, które niewiele wnoszą, mam na myśli te z wieloma brakami oraz te określające parametry kontaktu z klientem.
1. Zmienna balance ma wartości ujemne, pewnie to normalne, ale jak to interpretować? Tu pojawia się większy problem, bo mamy zmienną numeryczną i jeśli taka zostanie wykorzystana model założy że jest relacja pomiędzy tymi liczbami, np. 5 będzie lepsze od 1. W przypadku zmiennej balance to ma sens, ale w przypadku zmiennej age czy duration już nie.
1. Zmienna y jest przydatna w przypadku klasyfikacji, tutaj może się przydać jako odnośnik po przeprowadzeniu segmentacji, ale nie wiem, czy dzielimy na dwa klastry, jak w oryginale. Bardziej bym szedł w segmentację ze względu na wiek/status materialny/edukację i spróbwał z różną liczbą klastrów.

**Polecałbym lekturę tych dwóch artykułów, które są wymienione w opisie danych. Może uda się coś wykorzystać, mimo, że tam robili klasyfikację, a nie segmentację.**

In [4]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [7]:
for c in df.columns:
    print(c)

age
job
marital
education
default
balance
housing
loan
contact
day
month
duration
campaign
pdays
previous
poutcome
y

In [5]:
# przekształcenie zmiennych jakościowych na numeryczne 
# (wybrałem moim zdaniem rozsądne zmienne, 
# zawsze można to zmienić, ale wiąże się to ze zmianą wszystkich dalszych wyników i wykresów)

idd = np.array(pd.Series(range(45211)))
data_id = idd[:, np.newaxis]
data_age = np.array([df['age']]).T

dummies_job = pd.get_dummies(df['job'])
dummies_marital = pd.get_dummies(df['marital'])
dummies_education = pd.get_dummies(df['education'])
dummies_default = pd.get_dummies(df['default'])
# numeryczna
dummies_balance = np.array([df['balance']]).T
# dummies_balance = pd.get_dummies(df['balance'])
dummies_housing = pd.get_dummies(df['housing'])
dummies_loan = pd.get_dummies(df['loan'])

dummies_age = pd.get_dummies(df['age'])


variables_to_analyze = (dummies_age,
                        dummies_job,
                        dummies_marital,
                        dummies_education,
                        dummies_default,
                        dummies_balance,
                        dummies_housing,
                        dummies_loan,)

# variables_to_analyze

# łączenie danych

clean_df = np.concatenate((variables_to_analyze), axis=1)
# clean_df = pd.concat([dummies_job.reset_index(), 
#                       dummies_marital.reset_index(), 
#                       dummies_education.reset_index()], axis=1, ignore_index=True)
clean_df

pd.DataFrame(clean_df).to_csv('clean_df.csv')

In [6]:
variables_to_analyze = (dummies_age,
                        dummies_job,
                        dummies_marital,
                        dummies_education)

# variables_to_analyze

# łączenie danych

clean_df2 = np.concatenate((variables_to_analyze), axis=1)
# clean_df = pd.concat([dummies_job.reset_index(), 
#                       dummies_marital.reset_index(), 
#                       dummies_education.reset_index()], axis=1, ignore_index=True)
clean_df2

pd.DataFrame(clean_df2).to_csv('clean_df2.csv')

In [7]:
for i in variables_to_analyze:
    print(i.shape)

(45211, 77)
(45211, 12)
(45211, 3)
(45211, 4)

In [53]:
clean_df2.shape

(45211, 96)